<% include header.ejs %>
  <link rel="stylesheet" href="/css/server.css">

  <!-- <form class="layui-form" action="" id="formName" onsubmit="return false">


    <div class="layui-form-item">

      <div class="layui-inline">
        <label class="layui-form-label">
          <%= __("email label")%>
        </label>
        <div class="layui-input-inline">
            
            <select name="status" id="status" lay-filter="aihao">
                <option value="0" selected>solving</option>
                <option value="1" >solved</option>
                
              </select>

          <button class="layui-btn" lay-submit="" lay-filter="demo1">
            <%= __("submit")%>
          </button>
        </div>
      </div>
    </div>

  </form> -->
  <form class="layui-form" action="" lay-filter="example" id="formName" onsubmit="return false" >
      <div class="layui-form-item">
        <label class="layui-form-label">查询项</label>
        <div class="layui-input-block">
          <input type="text" name="keyword" id="keyword" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
        </div>
      </div>
      
      
      <div class="layui-form-item">
        <label class="layui-form-label">类型</label>
        <div class="layui-input-block">
          <select name="interest" lay-filter="aihao">
            <option value=""></option>
            <option value="0" selected>充值</option>
            <option value="1">登陆</option>
            <option value="2">其他</option>
          </select>
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit="" lay-filter="demo1">查询</button>
        </div>
      </div>
    </form>
  <table id="demo" lay-filter="test"></table>
  <table class="layui-table" >
      <colgroup>
        <col width="150">
        <col width="200">
        <col>
        <col>
        <col>
      </colgroup>
      <thead>
        <tr>
          <th>标识</th>
          <th>标题</th>
          <th>内容</th>
          <th>IP</th>
          <th>时间</th>
        </tr> 
      </thead>
      <tbody id="queryContent"> 
        
      </tbody>
    </table>

  <script src="/layui/layui.js"></script>
  <script type="text/html" id="barDemo">
<a class="layui-btn layui-btn-primary layui-btn-xs" target="_blank" href="/admin/question/reply?id={{d._id}}" lay-event="detail">查看</a>
<!-- <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a> -->
<!-- <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a> -->
</script>
  <script type="text/html" id="statusTpl">
<!-- 这里的 checked 的状态只是演示 -->
{{ d.status == 0 ? '<%= __("status_resoving")%>' : '<%= __("status_resoved")%>' }}
</script>
  <script>
    layui.use(['layer', 'form', 'jquery', 'table','element'], function () {
      var layer = layui.layer
        , form = layui.form
        , $ = layui.jquery;
      var table = layui.table;
      var element = layui.element;
      $(".admin-log").addClass("layui-this");
      $(function () {
        
          function renderHtmlContent(content) {

          
          $.get("/admin/log/query?content="+content,function(data,status){
            if(status=="success") {
              // console.log(data.data)
              $('#queryContent').html("");
              data.data.forEach(element => {
                // console.log(element._id);
                 var str=""
                 str += "<tr> \
                        <td>"+element._id+"</td> \
                        <td>"+element._source.title+"</td> \
                        <td>"+element._source.content+"</td> \
                        <td>"+element._source.ip+"</td> \
                        <td>"+element._source.log_time+"</td> \
                      </tr>";
                $('#queryContent').append(str);
              });
            } else {
              alert(data.msg);
            }

            
        });
      }
        // });
        $(".layui-btn").click(function () {
            renderHtmlContent($('#keyword').val());
        });
        
        
        
        

    
      });

    });

  </script>